#container {
    display: grid;
    grid-template-columns: repeat(16, minmax(20px, 1fr));
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }

#block {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}